/* تنسيق عام لكل الروابط باستخدام الكلاس */
.qu-link {
    display: block;    /* عرض ككتلة ليأخذ العرض كاملاً */
    text-align: center; /* نص ممركز */
    padding: 15px;      /* حواشي */
    text-decoration: none; /* إزالة الخط تحت الرابط */
    font-weight: bold;
    margin: 5px 0;
}


#link1 { background-color: lightgreen; color: red; }
#link2 { background-color: #555; color: yellow; }
#link3 { background-color: black; color: white; }


.qu-link:visited {
    background-color: purple !important;
    color: white !important;
}


.qu-link:hover {
    background-color: #ddd !important; /* استخدمنا important لتغلب قوة الـ ID */
    color: blue !important;
}


.qu-link:active {
    background-color: orange !important;
    color: black !important;
}