<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{% block title %} {% endblock title %}</title>

    <link rel="icon" href="{% static 'qu-icon.PNG' %}">

    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block stylesheets %} {% endblock stylesheets %}
</head>
<body>
    {% include "bookmodule/includes/header.html" %}

    {% block content %}
    {% endblock content %}

    {% include "bookmodule/includes/footer.html" %}
</body>
</html>